/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

svg{
  padding: 50px;
  border: 2px solid black;
  background-image: url('https://mattsmoviethoughts.files.wordpress.com/2011/07/asgard-thor-movie.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  /*background-image: url("https://mattsmoviethoughts.files.wordpress.com/2011/07/asgard-thor-movie.jpg");*/

  background-repeat: no-repeat;
}

.highscore {
  background-color: gray;
  color: white;
}

.enemy {
  background-image: url("http://www.geoswag.com/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/t/h/thor_hammer_front.png")
  opacity: 1;
  height: 50px;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-name: spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform-origin: 50% 50%;

  }

  to {
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}

